- id: hiera-override
  version: 2.0.0
  type: puppet
  groups: [primary-controller,controller,compute-vmware]
  required_for: [netconfig]
  requires: [globals]
  parameters:
    puppet_manifest: puppet/manifests/hiera-override.pp
    puppet_modules: puppet/modules
    timeout: 120
- id: gem-install
  version: 2.0.0
  type: puppet
  groups: [primary-controller,controller]
  required_for: [nsxv-install]
  requires: [globals]
  parameters:
    puppet_manifest: puppet/manifests/gem-install.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: compute-vmware-nova-config
  version: 2.0.0
  refresh_on: [nova_config]
  type: puppet
  groups: [compute-vmware]
  required_for: [top-role-compute-vmware]
  requires: [top-role-compute]
  parameters:
    puppet_manifest: puppet/manifests/compute-vmware-nova-config.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: openstack-haproxy-nova-nsxv
  version: 2.0.0
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-haproxy]
  requires: [openstack-haproxy-nova]
  parameters:
    puppet_manifest: puppet/manifests/haproxy-nova-metadata-config.pp
    puppet_modules: puppet/modules
    timeout: 120
- id: openstack-haproxy-neutron-nsxv
  version: 2.0.0
  type: puppet
  groups: [primary-controller, controller]
  required_for: [openstack-haproxy]
  requires: [openstack-haproxy-neutron]
  parameters:
    puppet_manifest: puppet/manifests/haproxy-neutron-config.pp
    puppet_modules: puppet/modules
    timeout: 120
- id: nsxv-install
  version: 2.0.0
  refresh_on: [neutron_config,nova_config]
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-network-neutron-start,primary-openstack-network-neutron-start,vmware-vcenter]
  requires: [openstack-network-server-nova]
  parameters:
    puppet_manifest: puppet/manifests/nsxv-config.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: openstack-network-neutron-policy
  version: 2.0.0
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-network-neutron-start,primary-openstack-network-neutron-start]
  requires: [openstack-network-server-config]
  parameters:
    puppet_manifest: puppet/manifests/neutron-server-policy.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: openstack-network-neutron-stop
  version: 2.0.0
  refresh_on: [neutron_config]
  type: puppet
  groups: [controller]
  required_for: [deploy_end]
  requires: [openstack-network-neutron-policy,nsxv-install]
  cross-depended-by:
    - name: primary-openstack-network-neutron-start
  parameters:
    puppet_manifest: puppet/manifests/neutron-server-stop.pp
    puppet_modules: puppet/modules
    timeout: 60
- id: primary-openstack-network-neutron-start
  version: 2.0.0
  refresh_on: [neutron_config]
  type: puppet
  groups: [primary-controller]
  required_for: [openstack-network-networks-nsxv]
  requires: [openstack-network-neutron-policy,nsxv-install]
  parameters:
    puppet_manifest: puppet/manifests/neutron-server-start.pp
    puppet_modules: puppet/modules
    timeout: 1800
- id: openstack-network-networks-nsxv
  version: 2.0.0
  type: puppet
  groups: [primary-controller]
  required_for: [openstack-network-routers]
  requires: [primary-openstack-network-neutron-start]
  parameters:
    puppet_manifest: puppet/manifests/neutron-network-create.pp
    puppet_modules: puppet/modules
    timeout: 600
- id: horizon-enable-lbaas
  version: 2.0.0
  type: puppet
  groups: [primary-controller,controller]
  required_for: [deploy_end]
  requires: [horizon]
  parameters:
    puppet_manifest: puppet/manifests/horizon-enable-lbaas.pp
    puppet_modules: puppet/modules
    timeout: 120

# post deployment tasks
- id: openstack-network-neutron-start
  version: 2.0.0
  refresh_on: [neutron_config]
  type: puppet
  groups: [controller]
  requires: [post_deployment_start]
  parameters:
    puppet_manifest: puppet/manifests/neutron-server-start.pp
    puppet_modules: puppet/modules
    timeout: 1800
    strategy:
      type: one_by_one
- id: nova-api-restart
  version: 2.0.0
  type: shell
  role: [primary-controller,controller]
  requires: [post_deployment_start]
  parameters:
    cmd: /usr/sbin/service nova-api restart
    timeout: 60

# skipped tasks
- id: primary-openstack-network-plugins-l2
  version: 2.0.0
  type: skipped
- id: openstack-network-plugins-l2
  version: 2.0.0
  type: skipped
- id: openstack-network-networks
  version: 2.0.0
  type: skipped
- id: primary-openstack-network-agents-l3
  version: 2.0.0
  type: skipped
- id: openstack-network-agents-l3
  version: 2.0.0
  type: skipped
- id: primary-openstack-network-agents-dhcp
  version: 2.0.0
  type: skipped
- id: openstack-network-agents-dhcp
  version: 2.0.0
  type: skipped
- id: primary-openstack-network-agents-metadata
  version: 2.0.0
  type: skipped
- id: openstack-network-agents-metadata
  version: 2.0.0
  type: skipped
