- id: hiera-override
  type: puppet
  groups: [primary-controller,controller,compute-vmware]
  required_for: [netconfig]
  requires: [globals]
  parameters:
    puppet_manifest: puppet/manifests/hiera-override.pp
    puppet_modules: puppet/modules
    timeout: 120
- id: gem-install
  type: puppet
  groups: [primary-controller,controller]
  required_for: [nsxv-install]
  requires: [globals]
  parameters:
    puppet_manifest: puppet/manifests/gem-install.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: compute-vmware-nova-config
  type: puppet
  groups: [compute-vmware]
  required_for: [top-role-compute-vmware]
  requires: [top-role-compute]
  parameters:
    puppet_manifest: puppet/manifests/compute-vmware-nova-config.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: openstack-haproxy-nova-metadata-public_vip
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-haproxy]
  requires: [openstack-haproxy-nova]
  parameters:
    puppet_manifest: puppet/manifests/haproxy-nova-metadata-config.pp
    puppet_modules: puppet/modules
    timeout: 120
- id: nsxv-install
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-network-neutron-start]
  requires: [hiera-override,openstack-network-server-config]
  parameters:
    puppet_manifest: puppet/manifests/nsxv-config.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: openstack-haproxy-neutron-nsxv
  type: puppet
  groups: [primary-controller, controller]
  required_for: [openstack-haproxy]
  requires: [deploy_start, openstack-haproxy-neutron]
  parameters:
    puppet_manifest: puppet/manifests/neutron-haproxy-config.pp
    puppet_modules: puppet/modules
    timeout: 120
- id: openstack-network-plugins-l2
  type: skipped
- id: primary-openstack-network-plugins-l2
  type: skipped
- id: openstack-network-networks
  type: skipped
- id: openstack-network-agents-l3
  type: skipped
- id: primary-openstack-network-agents-l3
  type: skipped
- id: openstack-network-agents-dhcp
  type: skipped
- id: primary-openstack-network-agents-dhcp
  type: skipped
- id: openstack-network-agents-metadata
  type: skipped
- id: primary-openstack-network-agents-metadata
  type: skipped
- id: openstack-network-neutron-policy
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-network-neutron-start]
  requires: [openstack-network-server-config]
  parameters:
    puppet_manifest: puppet/manifests/neutron-server-policy.pp
    puppet_modules: puppet/modules
    timeout: 300
- id: openstack-network-neutron-start
  refresh_on: [neutron_config]
  type: puppet
  groups: [primary-controller,controller]
  required_for: [openstack-network-server-nova]
  requires: [openstack-network-neutron-policy]
  parameters:
    puppet_manifest: puppet/manifests/neutron-server-start.pp
    puppet_modules: puppet/modules
    timeout: 1800
- id: openstack-network-networks-nsxv
  type: puppet
  groups: [primary-controller]
  required_for: [openstack-network-end,openstack-network-routers]
  requires: [openstack-network-neutron-start]
  parameters:
    puppet_manifest: puppet/manifests/neutron-network-create.pp
    puppet_modules: puppet/modules
    timeout: 600
- id: horizon-enable-lbaas
  type: puppet
  groups: [primary-controller,controller]
  required_for: [deploy_end]
  requires: [horizon]
  parameters:
    puppet_manifest: puppet/manifests/horizon-enable-lbaas.pp
    puppet_modules: puppet/modules
    timeout: 120
