attributes:
  # Show only if vcenter used
  metadata:
    restrictions:
      - condition: "settings:common.use_vcenter.value == false or not ( cluster:net_provider == 'neutron' and networking_parameters:segmentation_type == 'tun')"
        action: 'hide'
    group: network
  nsxv_manager_host:
    value: ''
    label: 'NSX Manager hostname (or IP)'
    description: ''
    weight: 20
    type: 'text'
    regex:
      source: '^.+$'
      error: 'Hostname must be specified'
  nsxv_user:
    value: ''
    label: 'NSX Manager user'
    description: ''
    weight: 25
    type: 'text'
    regex:
      source: '^.+$'
      error: 'You must specify the user name'
  nsxv_password:
    value: ''
    label: 'NSX Manager password'
    description: ''
    weight: 30
    type: 'password'
    regex:
      source: '^.+$'
      error: 'You must specify the password'
  nsxv_datacenter_moid:
    value: ''
    label: 'Datacenter MoRef ID'
    description: 'Datacenter MoRef ID for Edge deployment, e.g. datacenter-126'
    weight: 35
    type: 'text'
    regex:
      source: '^[a-z]+-[a-z0-9]+$'
      error: 'Invalid datacenter MoRef ID'
  nsxv_resource_pool_id:
    value: ''
    label: 'Resource pool MoRef ID'
    description: 'Resource pool MoRef ID for NSX Edge nodes deployment'
    weight: 45
    type: 'text'
    regex:
      source: '^[a-z]+-[a-z0-9]+$'
      error: 'Invalid resource pool MoRef ID'
  nsxv_datastore_id:
    value: ''
    label: 'Datastore MoRef ID'
    description: 'Datastore MoRef ID for NSX Edge nodes deployment'
    weight: 50
    type: 'text'
    regex:
      source: '^[a-z]+-[a-z0-9]+$'
      error: 'Invalid datastore MoRef ID'
  nsxv_external_network:
    value: ''
    label: 'External portgroup MoRef ID'
    description: 'External portgroup MoRef ID for NSX Edge physical connectivity'
    weight: 55
    type: 'text'
    regex:
      source: '^[a-z]+-[a-z0-9]+$'
      error: 'Invalid portgroup MoRef ID'
  nsxv_vdn_scope_id:
    value: ''
    label: 'Transport zone MoRef ID'
    description: 'Transport zone MoRef ID for VXLAN networks'
    weight: 60
    type: 'text'
    regex:
      source: '^vdnscope-[0-9]+$'
      error: 'Invalid transport zone MoRef ID'
  nsxv_dvs_id:
    value: ''
    label: 'Distributed virtual switch MoRef ID'
    description: 'DVS MoRef ID connected to Edge cluster'
    weight: 65
    type: 'text'
    regex:
      source: '^dvs-[0-9]+$'
      error: 'Invalid DVS MoRef ID'
  nsxv_backup_edge_pool:
    value: ''
    label: 'NSX backup Edge pool'
    description: 'Define backup edge pools management range with the four-tuple: <edge_type>:[edge_size]:<minimum_pooled_edges>:<maximum_pooled_edges>'
    weight: 70
    type: 'text'
    regex:
      source: '^(?:(?:service|vdr):(?:compact|large|xlarge|quadlarge):[0-9]+:[0-9]+)(?:,(?:service|vdr):(?:compact|large|xlarge|quadlarge):[0-9]+:[0-9]+)*$'
      error: 'Invalid Edge pool'
  nsxv_edge_ha:
    value: true
    label: 'Enable HA for NSX Edges'
    description: 'Deploy NSX Edges in HA pair'
    weight: 75
    type: 'checkbox'
  nsxv_insecure:
    value: true
    label: 'Bypass NSX Manager certificate verification'
    description: ''
    weight: 80
    type: 'checkbox'
  nsxv_ca_file:
    value: ''
    label: 'CA certificate file'
    description: 'Specify a CA certificate file to use in verifying NSX Manager certificate'
    weight: 85
    type: 'file'
    restrictions:
      - condition: 'settings:nsxv.nsxv_insecure.value == true'
        action: 'hide'
  nsxv_metadata_initializer:
    value: true
    label: 'Init metadata infrastructure'
    description: 'If enabled, instance will attempt to initialize the metadata infrastructure to access to metadata proxy  service'
    weight: 86
    type: 'checkbox'
  nsxv_metadata_listen_mgmt:
    value: false
    label: 'Use management network to access the nova-api-metadata'
    description: 'If disabled nova-api-metadata listens on Public network'
    weight: 90
    type: 'checkbox'
  nsxv_mgt_reserve_ip:
    value: false
    label: 'Allocate IP address in management network for NSX metadata proxy'
    description: 'If enabled, then IP address for NSX metadata proxy will be allocated in the OpenStack management network. In the parameter "Metadata portgroup MoRef ID", you must specify portgroup id, which is adjacent with OpenStack management network'
    weight: 95
    type: 'checkbox'
    restrictions:
      - condition: 'settings:nsxv.nsxv_metadata_listen_mgmt.value == false'
        message: '"Use management network to access the nova-api-metadata" not enabled'
        action: 'disable'
  nsxv_metadata_nova_client_cert:
    value: ''
    label: 'Certificate for metadata proxy'
    description: 'PEM format'
    weight: 100
    type: 'file'
    restrictions:
      - condition: 'settings:nsxv.nsxv_metadata_nova_client_priv_key.value.name != null and settings:nsxv.nsxv_metadata_nova_client_cert.value.name == null'
        action: 'none'
        strict: false
        message: 'Private key loaded, but certificate is absent'
  nsxv_metadata_nova_client_priv_key:
    value: ''
    label: 'Private key'
    description: 'Private key for metadata certificate'
    weight: 105
    type: 'file'
    restrictions:
      - condition: 'settings:nsxv.nsxv_metadata_nova_client_priv_key.value.name == null and settings:nsxv.nsxv_metadata_nova_client_cert.value.name != null'
        action: 'none'
        strict: false
        message: 'Certificate loaded, but private key is absent.'
  nsxv_metadata_service_allowed_ports:
    value: ''
    label: 'Metadata allowed ports'
    description: 'Additional ports to 80, 443 and 8775'
    weight: 110
    type: 'text'
  nsxv_mgt_net_moid:
    value: ''
    label: 'Metadata portgroup MoRef ID'
    description: 'Portgroup MoRef ID for metadata proxy management network'
    weight: 115
    type: 'text'
  nsxv_mgt_net_proxy_ips:
    value: ''
    label: 'Metadata proxy IP addresses'
    description: 'Management network IP address for metadata proxy, comma separated'
    weight: 120
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_mgt_reserve_ip.value == true'
        action: 'hide'
  nsxv_mgt_net_proxy_netmask:
    value: ''
    label: 'Management network netmask'
    description: 'Management network netmask for metadata proxy'
    weight: 125
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_mgt_reserve_ip.value == true'
        action: 'hide'
  nsxv_mgt_net_default_gateway:
    value: ''
    label: 'Management network default gateway'
    description: 'Management network default gateway for metadata proxy'
    weight: 130
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_mgt_reserve_ip.value == true'
        action: 'hide'
  nsxv_floating_ip_range:
    value: ''
    label: 'Floating IP ranges'
    description: 'Dash separated IP addresses allocation pool from external network, e.g. "start_ip_address-end_ip_address"'
    weight: 135
    type: 'text'
    regex:
      source: '^(?:[0-9]{1,3}\.){3}[0-9]{1,3}-(?:[0-9]{1,3}\.){3}[0-9]{1,3}$'
      error: 'Invalid IP ranges'
  nsxv_floating_net_cidr:
    value: ''
    label: 'External network CIDR'
    description: 'Network in CIDR notation that includes floating IP ranges'
    weight: 140
    type: 'text'
    regex:
      source: '^(?:[0-9]{1,3}\.){3}[0-9]{1,3}/[0-9]{1,2}$'
      error: 'Invalid network in CIDR notation'
  nsxv_floating_net_gw:
    value: ''
    label: 'Gateway'
    description: 'Default gateway for external network, if not defined, first IP address of the network is used'
    weight: 145
    type: 'text'
  nsxv_internal_net_cidr:
    value: ''
    label: 'Internal network CIDR'
    description: 'Network in CIDR notation for use as internal'
    weight: 150
    type: 'text'
    regex:
      source: '^(?:[0-9]{1,3}\.){3}[0-9]{1,3}/[0-9]{1,2}$'
      error: 'Invalid network in CIDR notation'
  nsxv_internal_net_dns:
    value: ''
    label: 'DNS for internal network'
    description: 'Comma separated IP addresses of DNS server for internal network'
    weight: 155
    type: 'text'
  nsxv_additional:
    value: false
    label: 'Additional settings'
    description: ''
    weight: 160
    type: 'checkbox'
  nsxv_nameservers:
    value: ''
    label: 'Instance name servers'
    description: 'Comma separated list of nameservers to configure for the DHCP binding entries. These will be used if there are no nameservers defined on the subnet.'
    weight: 161
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_task_status_check_interval:
    value: ''
    label: 'Task status check interval (millisecond)'
    description: 'Asynchronous task status check interval'
    weight: 165
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_maximum_tunnels_per_vnic:
    value: ''
    label: 'Maximum tunnels per vnic'
    description: 'Maximum number of sub interfaces supported per vnic in edge'
    weight: 170
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_retries:
    value: ''
    label: 'API retries'
    description: 'Maximum number of API retries'
    weight: 175
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_spoofguard_enabled:
    value: false
    label: 'Enable SpoofGuard'
    description: 'Indicates if NSXv SpoofGuard component is used to implement port-security feature'
    weight: 180
    type: 'checkbox'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_tenant_router_types:
    value: ''
    label: 'Tenant router types'
    description: 'Ordered list of router types to allocate as tenant routers'
    weight: 185
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_exclusive_router_appliance_size:
    value: ''
    label: 'Exclusive router size'
    description: 'Edge form factor for exclusive router'
    weight: 190
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_edge_appliance_user:
    value: ''
    label: 'Edge user'
    description: 'User for Edge node login'
    weight: 195
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_edge_appliance_password:
    value: ''
    label: 'Edge password'
    description: 'Password for Edge node login'
    weight: 200
    type: 'password'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_dhcp_lease_time:
    value: ''
    label: 'DHCP lease time (sec)'
    description: ''
    weight: 205
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
  nsxv_locking_coordinator_url:
    value: ''
    label: 'Coordinator URL'
    description: 'URL for distributed locking coordinator'
    weight: 210
    type: 'text'
    restrictions:
      - condition: 'settings:nsxv.nsxv_additional.value == false'
        action: 'hide'
