#!/usr/bin/make -f

UPSTREAM_GIT := git://github.com/stackforge/vmware-nsx.git
include /usr/share/openstack-pkg-tools/pkgos.make

export OSLO_PACKAGE_VERSION=$(VERSION)
export DH_ALWAYS_EXCLUDE=usr/etc

%:
	dh $@ --buildsystem=python_distutils --with python2 --prefix=/usr

override_dh_clean:
	dh_clean -O --buildsystem=python_distutils
	rm -rf build

# Commands not to run
override_dh_auto_test:
override_dh_installcatalogs:
override_dh_installemacsen override_dh_installifupdown:
override_dh_installinfo override_dh_installmenu override_dh_installmime:
override_dh_installmodules override_dh_installlogcheck:
override_dh_installpam override_dh_installppp override_dh_installudev override_dh_installwm:
override_dh_installxfonts override_dh_gconf override_dh_icons override_dh_installgsettings:
